/* Footer Container */
footer {
    background-color: #0c2f58;
    color: white;
    padding: 60px 0 0 0;
  }
  
  /* Footer Links */
  .footer-quick-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-quick-links li {
    margin-bottom: 10px;
  }
  
  .footer-quick-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-quick-links a:hover {
    color: #888;
  }
  
  /* Contact Info */
  .footer-contact-info {
    list-style: none;
    padding: 0;
  }
  
  .footer-contact-info li {
    margin-bottom: 10px;
  }
  
  .footer-contact-info i {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
  }
  
  /* Social Media */
  .footer-social-media {
    list-style: none;
    padding: 0;
    font-size: 30px;
    display: flex;
  }
  
  .footer-social-media li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .footer-social-media a {
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.551);
    transition: background-color 0.3s ease;
  }
  
  .footer-social-media a:hover {
    background-color: rgba(15, 15, 15, 0.577);
  }
  .logo{
    padding-bottom: 10px;
  }
  /* Copyright Area */
  .copyright-area {
    background-color: #0c2f58;
    color: white;
    padding: 20px 0;
    border-top: 1px solid #28b67c;
  }
  
  .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-menu li {
    margin: 0 10px;
  }
  
  .footer-menu a {
    color: white;
    text-decoration: none;
  }
  
  .footer-menu a:hover {
    color: #888;
  }
  
  .footer-heading {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-contact-info a{
    color: #fff;
    text-decoration: none;
  }
  .container {
    width: 100%;
    padding: 25px;
 
    font-size: 15px;
    margin-right: auto;
  }
  
  /* @media (min-width: 1400px) {
    .container {
      max-width: 1200px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }*/
  .row1 {
    margin-top: 20px;

  }
  .footer-social-media a svg{
    position: relative;
    bottom: 4px;
  }